<div ng-switch="ngModel.type">
  <tf-question ng-switch-when="TF" ng-model="ngModel">
  </tf-question>

  <mc-question ng-switch-when="MC" ng-model="ngModel">
  </mc-question>

  <n-question ng-switch-when="N" ng-model="ngModel">
  </n-question>

  <nmc-question ng-switch-when="NMC" ng-model="ngModel">
  </nmc-question>

  <m-question ng-switch-when="M" ng-model="ngModel">
  </m-question>

  <i-question ng-switch-when="I" ng-model="ngModel">
  </i-question>

  <e-question ng-switch-when="E" ng-model="ngModel">
  </e-question>
</div>
